<%- include('../../partials/main', { pageTitle: 'Add new Addon' }) %>

<div class="page-body">

    <!-- New Product Add Start -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-sm-8 m-auto">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-header-2">
                                    <h5>Add-On Information</h5>
                                </div>

                                <form action="/admin/addon/add" method="POST" class="theme-form theme-form-2 mega-form">
                                    <input class="form-control" type="hidden" name="token">
                                    <div class="mb-4 row align-items-center">
                                        <label class="form-label-title col-sm-3 mb-0">Add-On Name</label>
                                        <div class="col-sm-9">
                                            <input class="form-control" type="text" name="name" placeholder="Add-On Name" required>
                                        </div>
                                    </div>
                                    <div class="mb-4 row align-items-center">
                                        <label class="form-label-title col-sm-3 mb-0">Price</label>
                                        <div class="col-sm-9">
                                            <input class="form-control" type="text" name="price" placeholder="Price" id="numberInput" oninput="validateInput(this)" required>
                                        </div>
                                    </div>

                                    <div class="d-inline-flex">
                                        <button class="align-items-center btn btn-theme d-flex" type="submit">
                                                    <i data-feather="plus-square"></i> Submit
                                        </button>
                                    </div>
                                    
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- New Product Add End -->

    <!-- footer Start -->
    <%- include('../../partials/footer')%>
    <!-- footer En -->
</div>
<!-- Container-fluid End -->

<script>
    function validateInput(inputField) {
        // Remove any non-numeric characters from the input
        inputField.value = inputField.value.replace(/[^0-9]/g, '');
    
        // Display an error message if input is empty
        var errorMessage = document.getElementById("errorMessage");
        if (inputField.value === "") {
            errorMessage.textContent = "Please enter a number.";
        } else {
            errorMessage.textContent = "";
        }
    }
    </script>


<%- include('../../partials/end')%>